<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col md-4 com-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        title="HTML"
        titleColor="red"
        titleFontSize="3em"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="5"
        outerStrokeColor="blue"
        innerStrokeColor="black"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col md-4 com-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        title="HTML"
        titleColor="red"
        titleFontSize="3em"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="5"
        outerStrokeColor="blue"
        innerStrokeColor="black"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col md-4 com-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        title="HTML"
        titleColor="red"
        titleFontSize="3em"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="5"
        outerStrokeColor="blue"
        innerStrokeColor="black"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col md-4 com-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        title="HTML"
        titleColor="red"
        titleFontSize="3em"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="5"
        outerStrokeColor="blue"
        innerStrokeColor="black"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col md-4 com-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        title="HTML"
        titleColor="red"
        titleFontSize="3em"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="5"
        outerStrokeColor="blue"
        innerStrokeColor="black"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col md-4 com-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        title="HTML"
        titleColor="red"
        titleFontSize="3em"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="5"
        outerStrokeColor="blue"
        innerStrokeColor="black"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>
    </div>
</div>